.owp-calc  .owp-calc-item {
    border: 1px solid #555;
    margin: 0 0 10px 0;
    padding: 2px 10px;
    background-color: #999;
    color: #eee;
}
.entry-content .owp-calc-item a{
    text-decoration: none;
    box-shadow: none;
    color: #eee;
    display: block;
}
.owp-calc .owp-calc-item .owp-calc-area {
    display: none;
    margin: 5px 10px 20px 10px;
    background-color: #eee;
    color:#333;
    padding: 4px 8px;
}
.owp-calc .owp-calc-item .owp-calc-area p{
    margin:0 0 5px 0;
}
.owp-calc .owp-calc-output {
    margin-top:20px;
}

.owp-calc .owp-calc-savings {
    font-weight:bold;
    font-size:22px;
    text-align:center;
}
.owp-calc .owp-calc-savings span {
    color: #108916;
}
.owp-calc .owp-calc-item .owp-calc-area p input {
    max-width:100px;
    padding: 2px 6px;
}


.owp-calc .input-group {
    clear: both;
    margin: 0 0 8px 0;
    position: relative;
}
.owp-calc .input-group input[type='button'] {

}
.owp-calc .input-group .owp-calc-val {
    position: relative;
    text-align: center;
    width: 62px !important;
    display: inline !important;

}
.owp-calc .input-group .button-minus,
.owp-calc .input-group .button-plus {
    font-weight: bold;
    height: 36px;
    padding: 0;
    width: 30px;
    position: relative;
}
.owp-calc-action {
    padding: 0 20px;
    margin-top:10px;
    display:none;
}
.owp-calc-action input[type=text] {
    max-width: 400px;
    border:1px solid transparent !important;
}

.owp-calc-action-form input[type=text].owp-form-missing {
    border:1px solid darkred !important;
}
.owp-calc-action-form .owp-calc-error {
    background-color: darkred;
    color: #ffc3c5;
    padding:2px 4px;
}
.owp-calc-send, .owp-calc-submit {
    background-color: #333;
    color: #efefef;
    padding:12px 14px;
    font-size: 15px;
    text-transform: uppercase;
    border:none;
    font-weight: bold;
    letter-spacing: revert;
}
.owp-calc .owp-calc-success {
    background-color: #c4ffc0;
    padding:10px;
    margin-top:20px;
    text-align:center;
}