.owp-calc {

}
.owp-calc  .owp-calc-item {
    border: 1px solid #555;
    margin: 0 0 10px 0;
    padding: 2px 10px;
    background-color: #999;
    color: #eee;
}
.entry-content .owp-calc-item a{
    text-decoration: none;
    box-shadow: none;
    color: #eee;
    display: block;
}
.owp-calc .owp-calc-item .owp-calc-area {
    display: none;
    margin: 5px 10px 20px 10px;
    background-color: #eee;
    color:#333;
    padding: 4px 8px;
}
.owp-calc .owp-calc-item .owp-calc-area p{
    margin:0 0 5px 0;
}
.owp-calc .owp-calc-output {
    display:none;
}

.owp-calc .owp-calc-savings {
    font-weight:bold;
}
.owp-calc .owp-calc-item .owp-calc-area p input {
    max-width:100px;
    padding: 2px 6px;
}

.owp-calc .owp-calc-note p {
    margin-bottom: 10px;
    font-size:12px;
    color:#999;
    line-height: 1;
}